
.main-content4{
  margin-top: 50px;
}
.cartpg {
    margin-top: 110px;
    padding: 20px;
  }
.crd-img img{
    width: 240px;
    height: 270px;

}
.buttons{
  background-color: black;
  color: white;
  border-radius: 1%;
}

.card-text{
  font-size: 12px;
  line-height: -30px;
}
.cartpg {
  font-size: 24px;
  font-weight: 600;
}

.card .buttons {
  /* background-color: #f0f0f0; */
  border: 1px solid #ddd;
  font-weight: 600;
}

.card .buttons:hover {
  background-color: orange;
  color: white;
}

.card.crd-img {
  border-radius: 8px;
}
